body {
    margin: 8px;
}

#web {
    height: auto;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 0px;
}

#cabecera {
    height: 134px;
    width: 100%;
}

<<<<<<< HEAD
.panel-heading {
    padding: 0px;
}

=======
>>>>>>> origin/master
#cabecera1 {
    height: 80px;
    background-color: #e6e6e6;
    padding: 0px;
    border: 0px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

#cabecera1>img {
    position: relative;
    top: -7px;
    left: 20px;
}

#cabecera1>span {
    position: relative;
    left: 20px;
    top: 12px;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
<<<<<<< HEAD
    font-size: 3em;
    color: #8e8282;
    padding: 0px;
=======
    font-size: 4em;
    color: #8e8282;
>>>>>>> origin/master
}

#cabecera2 {
    height: 54px;
    background-color: rgb(27, 138, 196);
    padding: 0px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
    text-align: right;
}

#busca {
    font-family: "trebuchet ms", "arial", sans-serif;
<<<<<<< HEAD
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    padding-top: 0.7em;
    padding-right: 1em;
    width: auto;
}

#caja_de_busqueda {
    width: auto;
    margin: 0px;
=======
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
}

#caja_de_busqueda{
    width: 190px;
     margin: 0px;
>>>>>>> origin/master
    padding: 0px;
}

#boton_de_buscar {
    border-radius: 7px 7px 7px 7px;
    font-weight: bold;
<<<<<<< HEAD
    width: 2.7em;
    height: 2.2em;
=======
>>>>>>> origin/master
}

#navegacion {
    margin: 0px;
    background-color: #e6e6e6;
    border: 0px;
<<<<<<< HEAD
    padding: 0px;
    text-align: center;
}

=======
    padding:0px;
}
>>>>>>> origin/master
.container-fluid {
    padding: 0px;
    text-align: center;
}

<<<<<<< HEAD
.list-group-item {
    text-align: left;
}

=======
>>>>>>> origin/master
.btn-group {
    background-color: #e6e6e6;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 2em;
    font-weight: bold;
<<<<<<< HEAD
    margin: auto;
    padding: 0px;
}

=======
    margin: 0px;
    padding: 0px;
}


>>>>>>> origin/master
#sombraContenido {
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

<<<<<<< HEAD
#new {
    height: 40px;
}

#new>a {
=======
#home {
    height: 40px;
}

#home>a {
>>>>>>> origin/master
    color: #0093ff;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    top: 10px;
    left: 12.5px;
}

<<<<<<< HEAD
#new>img {
=======
#home>img {
>>>>>>> origin/master
    position: relative;
    top: 9px;
    left: 12.5px;
}

<<<<<<< HEAD
#usuario{
    width: 20em;
    height: 18em;
    position: relative;
    left: 30em;
    padding-left: 1em;
}

#usuario>img {
    width: 12em;
    height: 12em;
    position: absolute;
    top: 3em;
    left: 15em;
    margin: auto;
}

#usuario>p {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 2em;
    font-weight: bold;
    width: 7em;;
    position: absolute;
    top: 7em;
    left: 7em;
    text-align: center;
}

#Recomendacion {
    font-size: 1.2em;
    width: 70%;
    height: 17em;
    position: absolute;
    top: -0.6em;
    left: 0.5em;
    padding-right: 1em;
    
}

#Recomendacion>p {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 1.2em;
    width: auto;
    position: relative;
    top: 0.1em;
    text-align: center;
}

.cancion{
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 0.4em;
    width: auto;
    position: relative;
    top: 0.1em;
    text-align: center;
=======
#usuario>img{
    position: relative;
    left: 20em;
}

#usuario>p{
  font-family: "trebuchet ms", "arial", sans-serif;
  font-size: 2em;
  font-weight: bold;
  width: 35%;
  position: relative;
  left: 21.5em;
  text-align: center;
}

#Recomendacion{
    font-size: 1.2em; 
    width: 36em;
    height: 17em;
    position: relative;
    top: -16em;
    left: 1em;
}

#Recomendacion>img{
  position: relative;
}

#Recomendacion>p{
  font-family: "trebuchet ms", "arial", sans-serif;
  font-size: 1.2em;
  width: auto;
  position: relative;
  top: 0.1em;
  text-align: center;
}

#boton-play{
    width: 12em;
    position: relative;
    top: -12em;
    left: 12em;
    padding:62px 62px;
    /* ---------------------------------------
El padding de arriba: 
mitad de ancho total menos mitad del play  

200/2 = 100 | 76/2 = 38 --> 100-38 = 62
200/2 = 100 | 76/2 = 38 --> 100-38 = 62
-----------------------------------------*/
}

#song{
  font-family: "trebuchet ms", "arial", sans-serif;
  position: absolute;
  text-align: center; 
  top: 14.4em;
  left: 11.3em; 
>>>>>>> origin/master
}

.col-md-2 {
    padding: 0px;
}

.col-md-10 {
    padding: 0px;
    height: 300px;
}

<<<<<<< HEAD
=======

>>>>>>> origin/master
#pie {
    height: 50px;
    background-color: #e6e6e6;
    text-align: center;
    padding: 17.5px 15px 12.5px 15px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

<<<<<<< HEAD
#pie>nav {
    width: auto;
    text-align: center;
    position: relative;
    bottom: 0.5em;
=======
#pie>p {
    font-size: 0.7em;
    font-weight: bold;
    font-family: "verdana", "arial", sans-serif;
    color: #8e8282;
    margin: 0px;
}

#pie>nav{
    width: 4%;
    position: relative;
    top: -1.3em;
    left: 78em;
>>>>>>> origin/master
}