body {
    margin: 8px;
}

#web {
    height: auto;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 0px;
}

#cabecera {
    height: 134px;
    width: 100%;
}

.panel-heading {
    padding: 0px;
}

#cabecera1 {
    height: 80px;
    background-color: #e6e6e6;
    padding: 0px;
    border: 0px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

#cabecera1>img {
    position: relative;
    top: -7px;
    left: 20px;
}

#cabecera1>span {
    position: relative;
    left: 20px;
    top: 12px;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #8e8282;
    padding: 0px;
}

#cabecera2 {
    height: 54px;
    background-color: rgb(27, 138, 196);
    padding: 0px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
    text-align: right;
}

#busca {
    font-family: "trebuchet ms", "arial", sans-serif;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    padding-top: 0.7em;
    padding-right: 1em;
    width: auto;
}

#caja_de_busqueda {
    width: auto;
    margin: 0px;
    padding: 0px;
}

#boton_de_buscar {
    border-radius: 7px 7px 7px 7px;
    font-weight: bold;
    width: 2.7em;
    height: 2.2em;
}

#navegacion {
    margin: 0px;
    background-color: #e6e6e6;
    border: 0px;
    padding: 0px;
    text-align: center;
}

.container-fluid {
    padding: 0px;
    text-align: center;
}

.list-group-item {
    text-align: left;
}

.btn-group {
    background-color: #e6e6e6;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding: 0px;
}

#sombraContenido {
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

#new {
    height: 40px;
}

#new>a {
    color: #0093ff;
    font-family: "trebuchet ms", "arial", sans-serif;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    top: 10px;
    left: 12.5px;
}

#new>img {
    position: relative;
    top: 9px;
    left: 12.5px;
}

#usuario{
    width: 20em;
    height: 18em;
    position: relative;
    left: 30em;
    padding-left: 1em;
}

#usuario>img {
    width: 12em;
    height: 12em;
    position: absolute;
    top: 3em;
    left: 15em;
    margin: auto;
}

#usuario>p {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 2em;
    font-weight: bold;
    width: 7em;;
    position: absolute;
    top: 7em;
    left: 7em;
    text-align: center;
}

#Recomendacion {
    font-size: 1.2em;
    width: 70%;
    height: 17em;
    position: absolute;
    top: -0.6em;
    left: 0.5em;
    padding-right: 1em;
    
}

#Recomendacion>p {
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 1.2em;
    width: auto;
    position: relative;
    top: 0.1em;
    text-align: center;
}

.cancion{
    font-family: "trebuchet ms", "arial", sans-serif;
    font-size: 0.4em;
    width: auto;
    position: relative;
    top: 0.1em;
    text-align: center;
}

.col-md-2 {
    padding: 0px;
}

.col-md-10 {
    padding: 0px;
    height: 300px;
}

#pie {
    height: 50px;
    background-color: #e6e6e6;
    text-align: center;
    padding: 17.5px 15px 12.5px 15px;
    box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

#pie>nav {
    width: auto;
    text-align: center;
    position: relative;
    bottom: 0.5em;
}