<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css?family=Montserrat');
html{    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 242, 255);
}

form{
    
    text-align:center;
}

a{
    margin-left:10px;
    margin-right:10px;
}
header{
    
  background-color: rgb(179, 217, 255);  
 margin-top:-20px;    
}

img{
    
   margin-left:10px;
   margin-right:10px; 
   width:178px;
   height:180px;
   text-align:left;
    
}

H1{
    margin-left:10px;
    margin-right:10px
    
}

#info{
    margin-left: 10px;
}

.info a {
    white-space: nowrap;
}

#img1 {
    
    
    WIDTH:178px;
    HEIGHT:50px;
    text-align:center;
}
#megusta{
 background-color:white;
 width:150px;   
    
}


#playlists{
   
}

#video{
    WIDTH:500px;
    HEIGHT:300px;
}

ul{
       list-style:none;
}

li{
       list-style:none;
}
list-group {
    
     width:500; 
     height:315;
    
}

>>>>>>> refs/remotes/DaniRibCha/master
